.nav-color {
  background-color: rgb(212, 212, 32);
}

.cardProfilePic {
  height: 1rem;
  width: 1rem;
}

.meme {
  height: 20vh;
  object-fit: contain;
}

.button-glow {
  text-shadow: 1px 1px grey, 0px 0px 1px yellow;
}

.text-color-1 {
  color: rgb(238, 238, 2);
}

.text-color-2 {
  color: red;
}

.text-color-3 {
  color: rgb(4, 208, 4);
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}
